*{
  margin:0;
  padding:0;
}
.App {
  background-color: black;
  padding:2em;
  color:white;
}

.btn {
  color:white;
  border:0;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  cursor:pointer;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}

header{
  text-align: center;
  padding-top: 2em;
}

.card{
  background-color: white;
  margin:1em;
  padding:2em;
  border-radius: 1em;
  position: relative;
}

.card.reverse {
  background:darkblue;
  color:white;
}

.num-display {
  background-color: rgb(237, 96, 120);
  padding:5px;
  width:15px;
  height: 15px;
  text-align: center;
color:white;
font-size: 0.8em;
 position: absolute;
 border-radius: 100%;
 left:-1%;
 top:-5%;
}